.global-presence {
  text-align: center;
  padding: 20px;
}

.global-presence h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.global-presence p {
  font-size: 1em;
  margin-bottom: 30px;
}

.stats {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 50px;
  flex-wrap: wrap;
  position: relative;
}

.stat {
  text-align: center;
  padding: 0 20px;
  position: relative;
}

.stat h2 {
  font-size: 4rem;
  color: red;
  font-family: sans-serif;
}

.stat p {
  font-size: 1.5em;
}

.stat::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -10px;
  width: 2px;
  height: 70%;
  background-color: gray;
  transform: translateY(-50%);
}

.stat:last-child::after {
  display: none;
}

.map {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 1400px;
  height: auto;
  margin: 0 auto;
}

.map img {
  width: 100%;
  height: auto;
}

.locations {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.location {
  position: absolute;
  color: red;
  padding: 5px 10px;
  transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
  .global-presence h1 {
    font-size: 1.5em;
  }

  .global-presence p {
    font-size: 0.9em;
  }

  .stat h2 {
    font-size: 3rem;
  }

  .stat p {
    font-size: 1.2em;
  }

  .map {
    width: 100%;
    height: auto;
    margin-left: 0;
  }

  .map img {
    height: auto;
  }

  .location {
    font-size: 0.8em;
  }

  .stat::after {
    height: 50%;
  }
}

@media (max-width: 480px) {
  .global-presence h1 {
    font-size: 1.2em;
  }

  .global-presence p {
    font-size: 0.8em;
  }

  .stat h2 {
    font-size: 2.5rem;
  }

  .stat p {
    font-size: 1em;
  }

  .location {
    font-size: 0.7em;
  }

  .stat::after {
    height: 40%;
  }
}
