.contactFormContainer {
  font-family: Arial, sans-serif;
  background-color: #111;
  color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
}

.contactForm {
  background-color: #fff;
  color: #000;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
}

.contactForm h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.contactForm p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.contactForm form {
  display: flex;
  flex-direction: column;
}

.contactForm input,
.contactForm textarea {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contactForm textarea {
  height: 100px;
}

.policyContainer {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.policyContainer input {
  margin-right: 0.5rem;
}

.contactForm button {
  background-color: red;
  color: #fff;
  border: none;
  padding: 0.75rem;
  border-radius: 4px;
  cursor: pointer;
  width: 100px;
  border-radius: 20px;
}

.contactForm button:hover {
  background-color: darkred;
}

.contactForm a {
  color: blue;
  text-decoration: none;
}

.contactForm a:hover {
  text-decoration: underline;
}

/* Media Queries */
@media (max-width: 768px) {
  .contactFormContainer {
    flex-direction: column;
    height: auto;
    padding: 1rem;
  }

  .contactForm {
    padding: 1rem;
    box-shadow: none;
    max-width: 100%;
  }

  .contactForm h1 {
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
  }

  .contactForm p {
    font-size: 0.875rem;
    margin-bottom: 1rem;
  }

  .policyContainer label {
    font-size: 0.875rem;
  }

  .contactForm button {
    width: 100%;
    margin-top: 1rem;
  }
}

@media (max-width: 480px) {
  .contactFormContainer {
    padding: 0.5rem;
  }

  .contactForm {
    padding: 0.5rem;
  }

  .contactForm h1 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  .contactForm p {
    font-size: 0.75rem;
    margin-bottom: 0.75rem;
  }

  .policyContainer label {
    font-size: 0.75rem;
  }
}
